
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/AboutAdmin/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Hakkımızda</span>
                </a>
            </li>
            <li>
                <a href="/StaffAdmin/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/TestimonialAdmin/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/ServiceAdmin/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Rezervasyon</span>
                </a>
            </li>
            <li>
                <a href="/ContactAdmin/AddSendMessage/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Yeni Mesaj Oluştur</span>
                </a>
            </li>
            <li>
                <a href="/ContactAdmin/Inbox/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Gelen Mesajlar</span>
                </a>
            </li>
            <li>
                <a href="/ContactAdmin/SendBox/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Giden Mesajlar</span>
                </a>
            </li>

        </ul>
    </div>
</div>