
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/AboutAdmin/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text"><b>Hakkımızda</b></span>
                </a>
            </li>
            <li>
                <a href="/StaffAdmin/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text"><b>Personeller</b></span>
                </a>
            </li>
            <li>
                <a href="/TestimonialAdmin/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text"><b>Referanslar</b></span>
                </a>
            </li>
            <li>
                <a href="/ServiceAdmin/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text"><b>Hizmetler</b></span>
                </a>
            </li>
            <li>
                <a href="/BookingAdmin/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text"><b>Rezervasyon</b></span>
                </a>
            </li>
            <li>
            <li>
                <a href="/ContactAdmin/Inbox/" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text"><b>Mesajlar</b></span>
                </a>
            </li>
            <li>
                <a href="/MailAdmin/Index/" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text"><b>Mail İşlemleri</b></span>
                </a>
            </li>
            <li>
                <a href="/ImageFileAdmin/Index/" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text"><b>Resim Yükleme İşlemleri</b></span>
                </a>
            </li>
        </ul>
    </div>
</div>