@model UpdateGuestDto
@{
    ViewData["Title"] = "UpdateGuest";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post" class="form">
    <input type="hidden" asp-for="GuestID" />

    <label>Tc Numarası</label>
    <input type="text" class="form-control" asp-for="GuestTcNumber" />
    <span asp-validation-for="GuestTcNumber" class="text-danger"></span>
    <br />

    <label>Adı</label>
    <input type="text" class="form-control" asp-for="GuestName" />
    <span asp-validation-for="GuestName" class="text-danger"></span>
    <br />

    <label>Soyadı</label>
    <input type="text" class="form-control" asp-for="GuestSurName" />
    <span asp-validation-for="GuestSurName" class="text-danger"></span>
    <br />

    <label>Cinsiyeti</label>
    <input type="text" class="form-control" asp-for="GuestGender" />
    <span asp-validation-for="GuestGender" class="text-danger"></span>
    <br />

    <label>Şehir</label>
    <input type="text" class="form-control" asp-for="GuestCity" />
    <span asp-validation-for="GuestCity" class="text-danger"></span>
    <br />

    <label>Telefon Numarası</label>
    <input type="text" class="form-control" asp-for="GuestPhone" />
    <span asp-validation-for="GuestPhone" class="text-danger"></span>
    <br />

    <button class="btn btn-success">Güncelle</button>
    <a href="/GuestAdmin/Index/" class="btn btn-warning">Geri Dön</a>
</form>


